<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon"><i class="fas fa-file"></i></span>
                        <span>Documentation</span>
                    </a>

                    <% if (user && user.isAdmin) { %>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <span>More</span>
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/brand">Brands</a>
                                <a class="navbar-item" href="/watch">Watches</a>
                                <a class="navbar-item" href="/user">Users</a>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <% if (user) { %>
                            <span style="margin: 10px;">Welcome, <span class="title is-6">
                                    <a href="/auth/profile">
                                        <%= user.membername %>
                                    </a>
                                </span></span>
                            <a class="button is-light" href="/auth/logout">
                                Sign out
                            </a>
                            <% } else { %>
                                <div class="buttons">
                                    <a class="button is-primary" href="/auth/register">Sign up</a>
                                    <a class="button is-light" href="/auth/login">Sign in</a>
                                </div>
                                <% } %>
                    </div>
                </div>
            </div>
    </nav>
    </br>
</body>

</html>