<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title" style="text-align: center">Login</h1>
            <div class="columns is-centered">
                <div class="column is-half">
                    <form action="/auth/login" method="POST">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input" type="text" name="membername" placeholder="Enter your username"
                                    required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" placeholder="Enter your password"
                                    required>
                            </div>
                        </div>

                        <div class="control" style="display: flex; justify-content: space-between">
                            <a class="button is-primary" href="/auth/register">Sign up</a>
                            <p class="buttons">
                                <button class="button is-primary" type="submit">Sign in</button>
                                <a class="button is-danger" href="/">Cancel</a>
                            </p>
                        </div>
                    </form>
                    <% if (typeof error !=='undefined' ) { %>
                        <div class="notification is-danger" style="margin-top: 1rem;">
                            <%= error %>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
</body>

</html>