<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .control {
            display: flex;
            justify-content: right;
            flex-wrap: wrap;
            gap: 1rem;
        }
    </style>
</head>

<body>
    <%- include('../components/navbar') %>

        <div class="container">
            <h1 class="title">Add New Brand</h1>
            <form action="/brand" method="POST">
                <div class="field">
                    <label class="label">Brand Name</label>
                    <div class="control">
                        <input class="input" type="text" name="brandName" required>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Add Brand</button>
                    <a href="/brand" class="button is-danger">Cancel</a>
                </div>
            </form>
            <% if (typeof error !=='undefined' ) { %>
                <div class="notification is-danger" style="margin-top: 1rem;">
                    <%= error %>
                </div>
                <% } %>
        </div>
</body>

</html>